/*
colors
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; /*not centering when main.js is sourced*/
  height: 100vh;
  background-color: black;
  color: white;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1507275016429-544fc0875edd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80"); /*image not showing anymore*/
  background-size: cover; /*not covering?!*/
  background-position: center;
  padding-top: 100px;
}

.landing div {
  width: 50%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 80px;
  width: 200px;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

#start-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#start-btn:active {
  animation-name: start-btn-click;
  animation-duration: 200ms;
}

#start-btn:active:after {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 200ms;
}

.disclaimer {
  justify-self: flex-end;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
}

@keyframes start-btn-click {
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
