/*
colors in constanst.js
*/

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(47, 49, 92);
  background-image: url("https://images.unsplash.com/photo-1507275016429-544fc0875edd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80"); /*image not showing anymore*/
  background-size: cover;
  background-position: center;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 80px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*how to keep color transition going after click is released?? */
.btn:active {
  background-color: rgba(255, 255, 255, 0.4);
  animation-duration: 100ms;
}

@keyframes start-btn-click {
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

/* Landing page */
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  /* visibility: visible; */
}

.landing div {
  width: 50%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro > p {
  margin: 10px 0;
}

#start-btn {
  font-size: 2rem;
  width: 200px;
}

.disclaimer {
  display: flex;
  align-items: flex-end;
  justify-self: flex-end;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
}

/*Game page*/
h2 {
  font-size: 1.8rem;
  margin: 20px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 600px;
  align-items: center;
  margin: 0 50px;
}

#instruction-container {
  color: white;
  font-size: 1.5rem;
}

#picker-label {
  position: absolute;
  top: 44vh;
  left: 20vw;
}

#slider-label {
  position: absolute;
  top: 55vh;
  left: 20vw;
}

#game-btn {
  width: 300px;
  margin: 50px 0;
}

/* text not aligning vertically inside button?! */
#restart-btn {
  margin: 50px 0;
  width: 350px;
}

#canvasContainer {
  width: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
